* {
	box-sizing: border-box;
	font-family: "Lobster Two";
}

body {
	background-image: url("../img/purple-beach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

form {
	text-align: center;
	margin-top: 50px;
}

#texto {
	padding: 20px;
	font-size: 18px;
	overflow:hidden;
}

#boton {
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	text-decoration: none;
	font-size: 18px;
	width: 150px;
	height: 50px;
}

#contenedor {
	margin: 0 auto;
	width: 300px;
}

.box {
	background-color: #322E2E;
	width: auto;
	padding: 15px;
	font-size: 17px;
	color: #FFF;
	margin-bottom: 5px;
	border-radius: 5px;
}

#contador {
	padding: 5px;
	border: 1px solid #000;
	display: inline-block;
	width: 35px;
	height: 30px;
	margin-top:5px;
}

.colorUno {
	color: #D52CF3;
	font-weight: bold;
}

.colorDos {
	color: #70AF73;
	font-weight: bold;
}

.horaBox {
	color: #563B7F;
	margin-bottom: 8px;
}