* {
	box-sizing: border-box;
	font-family: "Lobster Two";
}

.section {
	height: 100vh;
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 0;
	color: #4F4D4E;
}

.form {
	text-align: center;
	background-color: rgba(64, 48, 42, 0.6);
	border-radius: 5px;
	width: 80%;
	padding-top: 1.5em;
	margin-bottom: 10px;
	margin: 0 auto;
}

#texto {
	width: 90%;
	padding: 20px;
	font-size: 0.8em;
	overflow: hidden;
	border-radius: 5px;
}

#boton {
	margin-top: 8px;
	margin-bottom: 12px;
	border: none;
	text-decoration: none;
	font-size: 100%;
	width: 30%;
	height: 40px;
	border-radius: 5px;
}

 #contenedor {
	width: 80%;
	margin: 0 auto;
}

.box {
	background-color: #322E2E;
	width: auto;
	padding: 15px;
	font-size: 17px;
	color: #FFF;
	margin-bottom: 5px;
	border-radius: 5px;
}

#contador {
	padding: 5px;
	border: 1px solid #CBEAE5;
	display: inline-block;
	width: 35px;
	height: 30px;
	margin-top:5px;
}

.colorUno {
	color: #D52CF3;
	font-weight: bold;
}

.colorDos {
	color: #70AF73;
	font-weight: bold;
}

.horaBox {
	color: #4F4D4E;
	font-weight: bold;
	margin-bottom: 8px;
} 