* {
	box-sizing: border-box;
	font-family: "Lobster Two";
}

body {
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

form {
	margin-top: 50px;
}

#texto {
	padding: 25px;
	margin-left: 200px;
	font-size: 20px;
}

#boton {
	margin-left: 430px;
	margin-top: 30px;
	border: none;
	text-decoration: none;
	font-size: 20px;
	width: 150px;
	height: 50px;
}

#contenedor {
	margin-top: 30px;
	margin-left: 250px;
	width: 180px;
	font-size: 20px;
}
